.createJobButtonStyle
  {
    width: 135px;
    height: 35px;
    object-fit: contain;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 rgba(91, 22, 170, 0.06);
    background-image: linear-gradient(to top, #9752ff, #5e93ff);
    text-transform: capitalize;
    color: #ffffff;
    margin-top: 48px;
    margin-bottom: 34px;
    font-size: 10px;
    text-transform: capitalize;
  }
  .editButtonStyle{
    width: 80px;
    height: 35px;
    object-fit: contain;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 rgba(91, 22, 170, 0.06);
    background-image: linear-gradient(to top, #9752ff, #5e93ff);
    color: #ffffff;
    margin-top: 48px;
    margin-bottom: 34px;
    font-size: 10px;
  }
  .loginStyle{
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 20px;
    color: blue;
  }
  .combinedForm{
    display:'flex';
    flex-direction:'column'
  }
  .createAccountStyle{
    width: 235px;
    height: 35px;
    object-fit: contain;
    border-radius: 4px;
    /* background-color: #42b72a; */
    box-shadow: 0 4px 6px 0 rgba(91, 22, 170, 0.06);
    background-image: linear-gradient(to top, #42b72a, #42b72a);
    color: #ffffff;
    margin-top: 48px;
    margin-bottom: 34px;
    font-size: 10px;
    text-transform: capitalize;
  }
  .goToLogin{
    width: 235px;
    height: 35px;
    object-fit: contain;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 rgba(91, 22, 170, 0.06);
    background-image: linear-gradient(to top,#42b72a, #42b72a);
    color: #ffffff;
    margin-top: 48px;
    margin-bottom: 34px;
    font-size: 10px;
    margin-left: 400px;
  }
  .indexTableButtonStyle{
    border-radius: 16px;
    box-shadow:  0 2.5px 2px 0.5px rgba(196, 196, 196, 0.31);
    background-color: #ffffff;
    color: #9752ff;
    min-width: 100px;
    text-transform: none;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
  }
  .PortalTextStyle{
    display: flex;
    align-items: center;
    justify-content: center;
    color: blueviolet;
    font-size: 25px;
}
.NewJobForm{
  display: flex;
  flex-direction:column;
  align-items: center;
}
.enterEmailStyle{
  width: 400px;
  height: 40px;
  margin-bottom: 20px;
}
.logInStyle{
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 15px;
  color: antiquewhite;
}
.createJobstyle{
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.jobListTitle{
  display: flex;
  padding-left: 40px;
  font-size: 25px;
  font-family: fantasy;
}
.container{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
}
.forms-container{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}
form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title{
  font-size: 2.2rem;
  color: #444444;
  margin-bottom: 10px;
}
.input-field{
  max-width: 380px;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  display:grid;
  grid-template-columns: 15% 85%;
}