.input-box-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  width: 100%;
  padding-bottom: 20px; }
  .input-box-card .label-box {
    width: 120px;
    max-width: 130px;
    font-family: Gotham-Book;
    font-size: 0.9em;
    color: #333333;
    line-height: 16px; }
    .input-box-card .label-box.right {
      text-align: right; }
  .input-box-card .input-view-box {
    box-sizing: border-box;
    padding-left: 16px;
    width: calc(100% - 130px);
    display: flex; }
  .input-box-card .input-box {
    min-height: 36px;
    box-sizing: border-box;
    width: 100%;
    font-size: 0.9rem;
    padding: 8px 16px;
    color: #333333;
    font-family: Gotham-Book;
    border-radius: 4px;
    border: solid 1px #e4e4e4;
    background-color: #f7f7fd; }
    .input-box-card .input-box::placeholder {
      color: #999999; }
